@model List<AccommodateMVC.Models.Business>


<ul style="list-style-type:none">
    @foreach (var business in Model)
    {
        <li>
            <a asp-controller="Business" asp-action="ViewBusiness" asp-route-id="@business.ID">@business.Name</a>
        </li>
    }
</ul>

